docs/AINIS  MESSINA.docx
docs/ALCARA LI FUSI.docx
docs/ALI' CENTRO.docx
docs/ARCHIMEDE MESSINA.docx
docs/BAFIA.docx
docs/BARCELLONA MEDI.docx
docs/BASICO' - PIANO QUADRO.docx
docs/BEATA EUSTOCHIA.docx
docs/BELLINI.docx
docs/BISCONTE.docx
docs/BUON PASTORE - CRISTO RE.docx
docs/CAPRERIA.docx
docs/CARMELO CAMINITI.docx
docs/CENTRO.docx
docs/CESAREO  S. AGATA MILITELLO.docx
docs/CPIA FONDACHELLI FANTINA.docx
docs/CPIA MESSINA P.E. TAORMINA.docx
docs/CRISTO RE.docx
docs/DANTE ALIGHIERI.docx
docs/DON ORIONE.docx
docs/E. MANCARI.docx
docs/E.CASTRONOVO.docx
docs/ENRICO FERMI.docx
docs/FORZA D'AGRO'.docx
docs/FOSCOLO  MESSINA.docx
docs/FRANCESCO CRISPI.docx
docs/FRAZ. ALTOLIA.docx
docs/FRAZ. CALDERA'.docx
docs/FRAZ. SPERONE.docx
docs/FRAZZANO' PRIMARIA.docx
docs/G. B. IMPALLOMENI.docx
docs/G.MARTINO.docx
docs/GALA.docx
docs/GALLUPPI  S. LUCIA DEL MELA.docx
docs/GARIBALDI  MILAZZO.docx
docs/GEPY FARANDA NASO.docx
docs/GEPY FARANDA PATTI.docx
docs/GIUSEPPE CATALFAMO.docx
docs/I. C. N. 2 GIOVANNI PAOLO II.docx
docs/I.C. FOSCOLO.docx
docs/I.I.S.S. PUGLIATTI  TAORMINA.docx
docs/I.S.MISTRETTA MANZONI.docx
docs/I.T. L.DA VINCI ECONOMICO TECNOLOGICO.docx
docs/I.T.T.L. CAIO DUILIO.docx
docs/IC N.2 D'ACQUISTO.docx
docs/IC VILLAFRANCA TIRRENA.docx
docs/IST. PROF. AGRICOLT. AMB. (SERALE).docx
docs/IST. TEC. ECONOMICO A.M.JACI.docx
docs/IST. TECN. TECNOLOGICO VERONA TRENTO.docx
docs/IST. TECNICO TURISMO GRAFICA ANTONELLO.docx
docs/ISTITUTO TECNICO TECNOLOGICO E.MAJORANA.docx
docs/ITET  G. TOMASI DI LAMPEDUSA - SERALE.docx
docs/ITET E. FERMI ECONOMICO E TECNOLOGICO.docx
docs/ITI S.AGATA M.LLO TORRICELLI.docx
docs/ITT-LSSA COPERNICO.docx
docs/LA FARINA - BASILE.docx
docs/LICEO ARTISTICO.docx
docs/LICEO LUCIO PICCOLO.docx
docs/LICEO SCIENTIFICO BISAZZA.docx
docs/LICEO SCIENTIFICOSCIENZE APPLICATE.docx
docs/LUIGI BOER.docx
docs/MALFA.docx
docs/MARCONI CARONIA.docx
docs/MARINA DI VENETICO.docx
docs/MARINA-LUIGI PIRANDELLO.docx
docs/MAUROLICO MESSINA.docx
docs/MILITI.docx
docs/MOTTA CAMASTRA.docx
docs/N. TOMMASEO.docx
docs/N.4 G.LEOPARDIME.docx
docs/PAGLIARA - ROCCHENERE.docx
docs/PATTI MARINA.docx
docs/PETTINEO.docx
docs/PIETRO CUPPARI.docx
docs/PLUVIO  TORRENOVA.docx
docs/PRINCIPE DI PIEMONTE.docx
docs/R. LAMBRUSCHINI - GAGGI.docx
docs/REITANO.docx
docs/RIONE S. LICANDRO.docx
docs/S. ALESSIO SICULO.docx
docs/S. FRATELLO.docx
docs/S. GIORGIO.docx
docs/S. TERESA RIVA - CENTRO.docx
docs/S.M.GALLO MESSINA.docx
docs/SACRO CUORE.docx
docs/SAN FILIPPO INFERIORE.docx
docs/SAN GIORGIO.docx
docs/SC.ELEMENTARE SS.ANNUNZIATA.docx
docs/SCACCIA.docx
docs/SCUOLA ELEM.GIOVANNI XXIII.docx
docs/SCUOLA PRIMARIA OLIVERI.docx
docs/SEGUENZA MESSINA.docx
docs/SEZ. SCIENTIFICA.docx
docs/TOMMASO CANNIZZARO - PRIMARIA.docx
docs/VIA CAIROLI.docx
docs/VIA TRENTO.docx
docs/VITTORIO EMANUELE III.docx
docs/VULCANO.docx
